/*
Conner Ledbetter and Clinton Peterson
12/13/17
webform.css

This is the webformcss page for our tutor project
*/

#container {
  padding-bottom: 200px;
  padding-left: 500px;
}

#title {
  text-decoration: underline;
  text-align: center;
  margin-right: 55%;
}
